In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data_for_feature = pd.read_csv("../data/interim/churning_data_model.csv")
data_for_feature.head()

,Unnamed: 0,Attrition_Flag,Customer_Age,Gender,Dependent_count,Card_Category
0,0,Existing Customer,45,M,3,Blue
1,1,Existing Customer,49,F,5,Blue
2,2,Existing Customer,51,M,3,Blue
3,3,Existing Customer,40,F,4,Blue
4,4,Existing Customer,40,M,3,Blue